body {

    margin: 0;

    font-family: Arial, Helvetica, sans-serif;

  }


  header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 10px 20px;

    background-color: #a27e8e;

    border-bottom: 1px solid #88292f;

  }


  main{

    height: 750px;

    width: 100%;

    background-color: #0b3954;

  }


  .logo {

    font-size: 24px;

    font-weight: bold;

    color: #000;

  }


  nav ul {

    list-style: none;

    display: flex;

    margin: 0;

    padding: 0;

  }


  nav ul li {

    margin-right: 20px;

  }


  nav ul li a {

    text-decoration: none;

    color: #000;

    font-size: 16px;

  }


  nav ul li a:hover {

    color: #555;

  }


  .hamburger {

    display: none;

    cursor: pointer;

  }


  .hamburger i {

    font-size: 24px;

  }


  footer {

    margin-top: auto;

    text-align: center;

    padding: 20px;

    background-color: #a27e8e;

    border-top: 1px solid #88292f;

  }


  .social-icons {

    margin-bottom: 10px;

  }


  .social-icons a {

    text-decoration: none;

    color: #000;

    margin: 0 10px;

    font-size: 24px;

  }


  .social-icons a:hover {

    color: #555;

  }


  footer p {

    margin: 0;

    font-size: 14px;

    color: #000;

  }


  @media (max-width: 768px) {

    nav ul {

      display: none;

      flex-direction: column;

      width: 100%;

      background-color: #a27e8e;

      position: absolute;

      top: 60px;

      left: 0;

      border-top: 1px solid #88292f;

    }

    nav ul li {

      margin: 15px 0;

    }

    .hamburger {

      display: block;

    }

    nav ul.active {

      display: flex;

    }

  }

</style>
